@inherits LayoutComponentBase

    <div class="page-wrapper">
        <TopHeader />
        <div class="page-container">
            <NavMenu />
            <div class="page-content-wrapper">
                <div class="page-content">
                    @Body
                </div>
            </div>
            <SideBar />

        </div>
    </div>